body
{
  background-image: url("https://images.unsplash.com/photo-1527537232679-89f0d63ea3f7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: 120%;
  background-attachment: fixed;
}
#nav
{
    background-color: #3e3e3e;
   
    
}
.bgdclr 
{
    background-color: darkgoldenrod;
}
#size
{
font-size:100px;
margin-left: 200px;
}
#stch
{
    width:300px;
    height:200px;
    text-align: center;
    margin-left: 200px;
}
#id1
{
      font-size: 60px;
      text-align: center;
      font-weight: 200px;
      color:whitesmoke;
        margin-left: 20%;;  
      font-style: oblique;
}
#idtext
{
      font-size: 60px;
    font-weight: 300;
   
      font-weight: 200px;
      color:white;
         text-shadow:1px 1px 1px black;
      font-style: oblique;
}
.type
{
    text-align:center;
    font-size: 60px;
    font-style:bold;
    color:whitesmoke;
    margin-left: px;
    height: 200px;

}
#cen
{
    margin-left:300px;  
    
}
#leftt
{
    margin-left:300px;
}
.stretch
{
    width: 200px;
}
#zoom
{
    color: greenyellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    margin-left:1px;
    text-shadow: 2px 2px 2px black;
}
#zoom:hover
{
    font-size: 200px;
}
#clr
{
    color:white;
}
.one
{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto auto ;
padding:10px;
margin-left:100px;

}

.one div{
    text-shadow:2px 2px 2px black;
    /* linear-gradient(135deg, orange, orange 60%, cyan); */
}




a
{
    color: aliceblue;
    text-decoration-color: transparent;
    font-style: oblique;
}
#left
{
    text-align: left;
}
#right
{
    text-align: right;
}

#display
{
    font-size: 200px;
    color: aqua;
}
.small
{
    width:70px;
    height:70px;
    margin:100px;
}
.text
{
    font-size:100px;
}
.flex-box img
        {
            
            height:160px;
            width:300px;
            margin-left: 20px;

        }
        .flex-box
        {
       display:flex;
       flex-direction:row;
       margin-left:30px;
      
       margin-left:20px;
       margin-top:200px;
       
            
        }
        a
        {
            color:white;
            font-size:40px;
        }
        a:hover {
            color:grey;
            
            font-size:80px;     
          }
          #cont
          {
              display:grid;
              grid-gap:10px;
              grid-template-columns:auto auto auto  ; 
              grid-template-rows: auto auto auto auto auto auto;
              
              /* margin-left:00px; */
              margin-top:100px;
          }
          #cont div{
             background-color: transparent;
            
      
          }
          @media(max-width:700px)
          {

            #cont{
            font-size:20px;
               text-align:center;
         
             
              margin-left:2px;
                grid-template-columns:5px  ; 
            
              }
              iframe
              {
                  width: 300px;
                  height: 150px;
              }
              #size, a , #zoom
              {
                  font-size:10px;
                  
              }
              .one div, #idtext
              {
                  font-size:5px;
              }
              .one{
                  margin-left:1px;
              }
              .flex-box 
              {
                  flex-direction: column;   
                  font-size: 30px;
              }
               p
               {
                    font-size: 30px;
               }
              

          }


